<div class="container">

    <div>
        <h1 style="text-align: center;">Data Generation for Transaction Monitoring</h1>
        <div class="warning" *ngIf="warningMessage" style="color: red; text-align: center;">
            {{ warningMessage }}
        </div>
    </div>

    <div class="presets-container">
        You may choose to
        <button mat-raised-button class="preset-btn" (click)="openPresetDialog()" style="margin-right: 10px; margin-left:10px">
            Use a preset
        </button>  or select fields manually. Alternatively, click 'Add preset' to save your current selection as a preset.
    </div>

    <div class="tenant-date-container">
        <!-- Dropdown for tenant -->
        <mat-form-field appearance="outline" class="form-control">
            <mat-label>Tenant</mat-label>
            <mat-select [(value)]="selectedTenant" (selectionChange)="onTenantChange()">
                <mat-option *ngFor="let tenant of tenants" [value]="tenant">
                    {{ tenant }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Date Picker -->
        <mat-form-field appearance="outline" class="form-control">
            <mat-label>Transaction Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    
    <!-- Dropdown for scenario -->
    <mat-form-field appearance="outline" class="form-control">
        <mat-label>Scenario</mat-label>
        <mat-select [(value)]="selectedScenario">
            <mat-option *ngFor="let scenario of scenarios" [value]="scenario">
                {{ scenario }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Dual List Boxes -->
    <div class="box-container">
        <div class="list-box" style="flex: 1;">
            <h3>Available Rules</h3>
            <mat-selection-list #availableList>
                <mat-list-option *ngFor="let rule of availableRules" [value]="rule">
                    <div class="rule-item">
                        <p>{{ rule.name }}</p>
                        <mat-icon
                        matTooltip="{{ rule.description }}"
                        matTooltipPosition="right"
                        style="margin-left: 8px; font-size: 21px; cursor: pointer;"
                        aria-label="Rule description"
                        >info</mat-icon>
                    </div>
                </mat-list-option>
            </mat-selection-list>
            <button mat-raised-button color="primary" style="margin-top: 10px;"
                (click)="moveSelected(availableList.selectedOptions.selected)">
                Select rules →
            </button>
        </div>

        <div class="list-box" style="flex: 1;">
            <h3>Applied Rules</h3>
            <mat-selection-list #selectedList>
                <mat-list-option *ngFor="let rule of selectedRules" [value]="rule">
                    <div class="rule-item">
                        <p>{{ rule.name }}</p>
                        <mat-icon
                        matTooltip="{{ rule.description }}"
                        matTooltipPosition="right"
                        style="margin-left: 8px; font-size: 21px; cursor: pointer;"
                        aria-label="Rule description"
                        >info</mat-icon>
                    </div>
                </mat-list-option>
            </mat-selection-list>
            <button mat-raised-button color="warn" style="margin-top: 10px;"
                (click)="removeSelected(selectedList.selectedOptions.selected)">
                ← Remove rules
            </button>
        </div>
    </div>

    <button mat-raised-button class="preset-btn" style="margin-top: 10px;"
    (click)="addPreset()">
    + Add preset
    </button>

    <button mat-raised-button color="primary" (click)="generateData()">
        Generate transactions
    </button>
</div>
