.container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tenant-date-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.presets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    text-align: center;
  }

.rule-item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.form-control {
    width: 100%;
}

.box-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.list-box {
    width: 45%;
}

.align-right {
    display: block;
    margin-left: auto;
}

.preset-btn {
    background-color: #4d8ac8 !important;
    color: #fff !important;
  }

mat-selection-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 4px;
}
