<div class="content">
  <div class="result-container">
    <h2>Data Generation Results</h2>
    <div class="summary-box" *ngIf="summary">
      <h3>Generation Summary</h3>
      <pre style="white-space: pre-wrap">{{ summary }}</pre>
    </div>
    <div class="warning" *ngIf="warningMessage" style="color: red;">
      {{ warningMessage }}
    </div>
    <div class="result-scroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Dynamic Columns -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <!-- Header and Row definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" (click)="onCancel()" class="button">
        Back
      </button>
      <button mat-raised-button color="primary" (click)="onDownload()" class="button">
        Download
      </button>
    </div>
  </div>
</div>
